@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Della+Respira&display=swap');

.links{
    cursor: pointer;
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 1%;
    padding-right: 1.5%;
}

.greeting-img{
    max-width: 20%;
    max-height: 10%;
    margin-left: 1%;
    margin-bottom: -10.5%;
}

h1, h3{
    font-family: "Cinzel Decorative", serif;
    color: #882018;
    letter-spacing: 0.5px;

}
a{
    text-decoration: none;
}

a:visited{
    color: #882018;
}

.main-img{
    max-width: 100%;
}

p{
    font-family: "Della Respira", serif;
    letter-spacing: 0.5px;
    text-align: justify;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 18px;
}

.txt-1{
    margin-left: 20%;
}

h1{
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 0.5%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Cinzel Decorative", serif;
    color: #EFECD4;
    letter-spacing: 0.5px;
}

.btn-section{
    padding-left: 1.5%;
    margin-top: 3.5%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 2.5%;
    margin-bottom: 2.5%;
}

button{
    background-image: url('/media/7.png');
    background-size: cover;
    border: none;
    background-position: center;
    height: 60px;
    width: 300px;
    font-size: 14px;
}

.btn-prompt{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}
footer{
    display: flex;
    justify-content: center;
}
